* {
  box-sizing: border-box;
}
body {
  margin: 1px;
  max-width: 1440px;
  color: #F7F7F7;
}
nav {
  display: flex;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin-right: auto;
}
nav ul li {
  padding: 10px;
}
.image1 {
  margin-right: 520px;
}
.img {
  background-image: url(./IMAGE2.png);
  height: 698px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-1 {
  max-width: 640px;
  text-align: center;
  color: white;
}
.text-1 p {
  font-family: 'Cardo', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: underline;
}
header {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.header img {
  margin-left: 10px;
}
.log {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.text {
  display: block;
  text-align: center;
  margin-top: 106px;
}
.text h1 {
  font-family: 'Cardo' sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #3A3A3A;
}
.text h3 {
  font-family: 'Cardo'
  sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-style: normal;
}
section div h6{
  font-size: 20px;
}
section img {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.image-right img {
  width: 900px;
  height: 542px;
  object-fit: cover;
}
.img-description-1 {
  text-align: right;
  padding-top: 70px;
  padding-right: 20px;
  margin: 0;
}
.img-description-1 h6 {
  color:#000000;
  font-family: 'Cardo' sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  text-align: right;
}
.img-description-1 h1 {
  font-family: 'Roboto' sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.img-description-1 h3 {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Cardo' sans-serif;
  font-style: italic;
  color: #000000;
}
.img-description-1 p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Cardo' sans-serif;
  color: #54595F;
}
.img-description-1 h5 {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Cardo' sans-serif;
  color: #54595F;
}
.img-description-1 h2 {
  color:#000000;
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: underline;
}
.img-description-2 h3 {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Cardo' sans-serif;
  font-style: italic;
  color: #000000;
}
.img-description-2 h1 {
  font-family: 'Roboto' sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.img-description-1 h4 {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Cardo' sans-serif;
  font-style: italic;
  color: #BC1414;
}
.img-description-2 h6 {
  color:#000000;
  font-family: 'Cardo' sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  margin: 0;
}
.img-description-2 p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Cardo' sans-serif;
  color: #54595F;
}
.img-description-2 h5 {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Cardo' sans-serif;
  color: #54595F;
}
.img-description-2 h2 {
  color:#000000;
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-decoration: underline;
}
.row {
  display: flex;
  justify-content: space-around;
}
.image-left img {
  width: 900px;
  height: 542px;
  object-fit: cover;
}
.img-description-2 {
  text-align: left;
  padding-top: 70px;
  padding-left: 16px;
  margin: 0;
}
.text-section div p, h6 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #020202;
}
section img {
  margin-top: 40px;
}
.section div h6 {
  margin-top: 140px;
  font-family: 'Cardo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #454545;
}
.section-img-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.section-img-bottom img {
  margin-left: 10px;
  width: 25%;
}