* {
  box-sizing: border-box;
}
body {
  margin: 1px;
  max-width: 1440px;
  color: #F7F7F7;
}
nav {
  display: flex;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin-right: auto;
}
nav ul li {
  padding: 10px;
}
.image1 {
  margin-right: 520px;
}
.back-img {
  background-image: url(./IMAGE2.png);
  height: 698px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-1 {
  max-width: 640px;
  text-align: center;
  color: white;
}
.text-1 p {
  font-family: "Cardo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
}
header {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.header img {
  margin-left: 10px;
}
.log {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.text {
  display: block;
  text-align: center;
  margin-top: 106px;
}
.text h1 {
  font-family: "Cardo" sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #3a3a3a;
}
.text h3 {
  font-family: "Cardo" sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-style: normal;
}